[Desktop Entry]
Categories=Network;WebBrowser;Security
Comment=Tor Browser Bundle built by torproject.org
Exec=tor-browser-sandbox
GenericName=Web Browser
Icon=tor-browser
Name=Tor Browser (Sandbox)
Type=Application
Version=1.4
